* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}    

.header {
    background-color: #303C3D;
    color: #B3DEE3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    height: 72px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 32px;
    align-items: center;
    background-color: #C8F8FD;
    padding: 32px 80px;
    padding-bottom: 50px;
}


.footer {
    background-color: #303C3D;
    color: #B3DEE3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    height: 72px;
}

#new-book-btn {
    background-color: #303C3D;
    color: #95B9BD;
    font-weight: 900;
    border-radius: 8px;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    padding: 18px 25px;
    width: 180px;
    font-style: ;
}


.full-screen {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.full-screen form {
    padding: 30px 10px;
    background-color: #C8F8FD;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
}

.full-form input {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px slategray solid;
    width: 80%;
    font-size: 40px;
    background-color: #B3DEE3;
    color: #303C3D;
}

.full-form select {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px slategray solid;
    width: 80%;
    font-size: 40px;
    background-color: #B3DEE3;
    color: #303C3D;
}

.card .close-btn {
    border: none;
    align-self: flex-end;
    background-color: #C8F8FD ;
    color: #303C3D;
    font-size: 28px;
    font-weight: 900;
    padding: 0;
    cursor: pointer;
    width: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    height: 606px;
    overflow: auto;
}

.card {
    text-align: center;
    background-color: #B3DEE3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: stretch;
    border-radius: 5px;
    color: #303C3D;
    font-weight: 900;
    font-size: large;
    padding: 50px;
    border: #303C3D 1px solid;
    font-size: 40px;
    width: 500px;
}

.cardBtmHalf, .cardTopHalf {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.card button {
    width: 80%;
    padding: 15px 30px;
    font-size: 30px;
    margin-top: auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #95B9BD;
    color: #303C3D;
    font-size: 40px;
}

.card .del-btn {
    background-color: #303C3D;
    color: #95B9BD;
    border-radius: 4px;
    border: none
}

.card .read-btn {
    background-color: #C8F8FD;
    color: #637A7D

}

.card .not-read-btn {
    color: #C8F8FD;
    background-color: #637A7D
}